# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
venv/
env/
*.egg-info/

# PyCharm
.idea/

# Mac OS Finder files
.DS_Store

# Windows thumb cache
Thumbs.db

# Logs and databases
*.log
*.sqlite3
