<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/styles/LogIn.css">
        <title>{% block title %}Login Page{% endblock %}</title>

        <!-- this is to initalise the login.js script to use for the buttons -->
        <script>
            src="/js/Login.js"
        </script>

    </head>
    {% block content %}
        <body class="body">
            <!-- this is for the log in page and setting up the buttons -->

            <div class="LoginContainer">

                <p class = "TextCentered"> LogIn</p>

                <label for="username"></label>
                <input type="text" id="username"  name ="username" placeholder="Username" class="ResizedTextBox">

                <label for="password"></label>
                <input type="password" id="password" name ="password" placeholder="Password" class="ResizedTextBox">

                <div class="ButtonContainer">
                    <input type="submit" id="submit" value="Submit" onclick="CheckCredentials(Username,Password)" class="ResizedButtons">

                    <form action="{{ url_for('signUp') }}" method="GET">
                        <input type="submit" id="Sign up" value="Sign up" class="ResizedButtons">
                    </form>

                </div>
            </div>

        </body>
    {% endblock %}
</html>