<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/LogIn.css">
</head>
<body>
    <!-- this is for the log in page and setting up the buttons -->
    <p style="text-align:center"> Log in page </p>

    <input type="text" id="username" name ="username" placeholder="Username">
    <input type="password" id="password" name ="password" placeholder="Password">
    <input type="submit" id="submit" value="Submit">
    <input type="submit" id="Sign up" value="Sign up">

</body>
</html>