# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore PyCharm project files
.idea/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
env/

# Ignore system files (optional but recommended)
.DS_Store
Thumbs.db

# Ignore logs or temporary files
*.log
